@model PriceConverter.Models.PriceModel

@{ 
    ViewBag.Title = "Price Convertor";
}

<div>
    @using (Html.BeginForm())
    {
        <div class="row">
            <div>
                <div class="form-group">
                    <div>
                        <label id="value">Enter value that is lower than 10000</label>
                    </div>
                    @Html.TextBoxFor(x => x.Value, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x=> x.Value, null, new { @class = "validation-message" })
                </div>
                <div class="form-group">
                    @if (!string.IsNullOrWhiteSpace(Model.Price))
                    {
                        @Html.DisplayFor(x => x.Price)
                    }
                </div>
                <div class="form-group"> 
                    <input type="submit" value="Convert" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>